@import "normalize";
@import "variables";

//html element colors
$main-bg-color: $lighterBlue;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $main-bg-color;
}

#game{
    width: 100%;
}